:root[data-theme='dark'] {
  --text: white;
  --shadow: lab(81 32.36 -7.02);
  --glass: lab(78 19.97 -36.75);
  --primary: #e8b4ee;
  --secondary: #e5e5e6;
  --background: #282c35;
  color-scheme: dark;
}

:root[data-theme='light'] {
  --shadow: lab(63 59.32 -1.47);
  --glass: lab(33 42.09 -43.19);
  --text: black;
  --primary: #74187e;
  --secondary: #242425;
  --background: #ededed;
  color-scheme: light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 42rem;
  padding: 3rem 1.25rem;
  margin: auto;
  overflow-x: hidden;
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
